QWidget {
  background-color: blueviolet;
  selection-color: white;
}
QPushButton#imdb {
  background-color: red;
  border-style: outset;
  border-width: 2px;
  border-color: beige;
}
QLabel {
  background-color: rgb(26, 160, 115);
  selection-color: white;
}
QPlainTextEdit {
  background-color: rgb(26, 151, 160);
  selection-color: white;
}
